.cart-list-item:nth-child(odd) {
    background-color: rgb(81 74 74 / 40%);
}

.cart-list-item:nth-child(even) {
    background-color: rgb(55 55 55 / 40%);
}

.cart-list-item {
    display: block;
    justify-content: center;
    align-items: center;
    padding: 16px;
    position: relative;
}

.cart-list-item__image-wrapper {
    display: flex;
    justify-content: center;
}

.cart-list-item__image {
    height: 222px;
    width: 142px;
    margin: 0 auto;

    background-color: #a3a3a3;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 2px;
    background-image: unset;
    cursor: pointer;
    object-fit: cover;
    object-position: top;
}

.cart-list-item__image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out 0s;
}

.cart-list-item__details-wrapper {
    display: flex;
    align-items: end;
    flex: 1;
    align-items: center;
}

.cart-list-item__name-wrapper {
    text-align: left;
}

.cart-list-item__price-wrapper {
    flex: 1;
    text-align: end;
}
.cart-list-item__price {
    white-space: nowrap;
    margin: 0;
    margin-bottom: 8px;
}

.cart-list-item__span {
    display: block;
    margin-top: 16px;
}

.cart-list-item__button-count {
    background-color: #f7e9a8;
    font-size: 18px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 4px;
}

.cart-list-item__quantity {
    text-align: left;
}

/* .cart-list-item__remove-button {
    background-color: #d1d1d1;
    color: #000;
    padding: 6px 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 16px;
} */

.cart-list-item__remove-icon::before {
    font-size: 24px;
    cursor: pointer;
    content: '\1F5D1';
    color: white !important;
    position: absolute;
    right: 0;
    top: 0;
    margin: 24px;
}

/* Media Queries for Desktop */
@media (min-width: 768px) {
    .cart-list-item {
        display: flex;
        gap: 16px;
        justify-content: flex-start;
    }

    .cart-list-item__name-wrapper {
        flex: 1;
    }
}
