.cart-header {
    padding-top: 32px;
    font-size: 32px;
    margin: 0;
}

.cart-header__paragraph {
    font-size: 18px;
    font-weight: 500;
    max-width: 860px;
    margin: 0 auto;
}

.cart-list__items {
    padding: 0;
    margin-top: 54px;
}
