/* Base styles for mobile devices */

.navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
}

.navigation__header {
    display: flex;
}
.navigation__title {
    font-family: HarryPotter-ov4z, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    align-content: center;
}

.navigation__logo {
    height: 65px;
    width: auto;
    align-self: center;
}

.navigation-logo--wrapper {
    flex: 1;
    display: flex;
    gap: 8px;
    margin-right: 18px;
}

.navigation__list {
    list-style: none;
    gap: 18px;
    font-family: 'Rubik', sans-serif;
    margin: 0;
    position: absolute;
    top: 95px;
    left: 0;
    overflow: hidden;
    max-height: 0;
    display: flex;
    transition: visibility 0s ease 0.5s, opacity 0.5s ease, max-height 0.5s ease;
    flex-direction: column;
    padding: 0;
    width: calc(100%);
    /* background-color: rgb(19 28 35); */
    background-color: rgb(27 40 49);
    align-items: center;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    z-index: 1;
}

.navigation__list.expanded {
    max-height: 500px;
}

.navigation__item {
    font-size: 16px;
}

.navigation__item:first-child {
    padding-top: 24px;
}

.navigation__item:last-child {
    padding-bottom: 24px;
}

.navigation__link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid transparent;
    padding: 4px;
}

nav a:hover,
nav a.active {
    border-color: #c0bd97;
    transition: border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #bdbdbd;
}

nav a.active {
    border-color: #fffbc6;
}

.navigation-item-icon {
    position: relative;
}
.navigation-heart__icon {
    font-size: 26px;
    font-family: auto;
    color: white;
}

.navigation__link .navigation-heart__icon,
.navigation__link .navigation-heart__icon:hover,
.navigation__link .navigation-heart__icon:active,
.navigation__link.active .navigation-heart__icon {
    text-decoration: none;
    border-bottom: none;
}

.navigation-heart__count {
    background-color: #f7e9a8;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    /* padding: 2px; */
    font-size: 0.75em;
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 22px;
    height: 22px;
}

/* Styles for tablets */
@media (min-width: 768px) {
    .navigation {
        flex-direction: row;
        justify-content: space-between;
    }

    .navigation__header {
        gap: 16px;
    }

    .navigation__title {
        font-size: 16px; /* Larger font size for tablet */
        margin: 0;
    }

    .navigation__list {
        flex-direction: row;
        gap: 26px;
        display: flex;
        align-self: center;
        position: static;
        top: 0;
        justify-content: right;
        flex: 1;

        overflow: visible;
        display: flex;
        align-items: center;
    }

    .navigation__list.expanded {
        max-height: 0;
        transition: none;
    }

    .navigation__item {
        font-size: 18px; /* Larger font size for tablet */
    }

    .navigation__item:first-child {
        padding-top: 0;
    }

    .navigation__item:last-child {
        padding-bottom: 0;
    }

    .navigation__link {
        font-size: 16px;
    }
}

/* Styles for desktops */
@media (min-width: 1024px) {
    .navigation {
        justify-content: space-between;
    }

    .navigation__header {
        flex: 1;
    }

    .navigation__title {
        font-size: 20px; /* Larger font size for desktop */
    }
    .navigation__list {
        gap: 40px;
    }
    .navigation__logo {
        height: 75px;
    }

    .navigation__link {
        font-size: 18px;
    }
}
